body{
	background-color: #2C2F33;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}






ul{
	top: -16px;
	left: 0;
	right: 0;
	display: flex;
	position: fixed;
	background-color: #2C2F33;

/*	justify-content: center;
	align-items: center;*/
}

li{
	color: #fff;
	display: block;
	padding: 20px 10px;
	color: ;
	font-size: 20px;
}

li a{
	font-size: 25px;
	text-decoration: none;
	color: #808080FF;
}

.active{
	color: #fff;
}


.cont{
	color: #fff;
	font-size: 25px;
}


.cmod{
	color: #5E7781;
}




.home{
	width: 1200px;
	height: 300px;
	position: absolute;
	left: 0;
	right: 1%;
	margin: 0px auto;
	top:50%;
	transform:translate(0, -50%);



}

.fff{
	margin: 20px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fff2{
	margin: 20px;
	color: #fff;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

p{
	margin: 20px;
	color: #808080FF;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;

}


.faq{

	display: flex;
	align-items: center;
	justify-content: center;
	width: 1200px;
	height: 60px;
	margin: 20px auto;
	background-color: #FF4A4A;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;


	position: absolute;
	left: 0;
	right: 0;
	top:7%;
}



.container2{

	display: flex;
	align-items: center;
	justify-content: center;
	width: 1200px;
	height: 60px;
	margin: 20px auto;
	margin-top: 70px;
	background-color: #FF4A4A;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.container3{

	display: flex;
	align-items: center;
	justify-content: center;
	width: 1200px;
	height: 60px;
	margin: 20px auto;
	background-color: #FF4A4A;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.container{
	display: flex;
	align-items: center;
	width: 1200px;
	height: 70px;
	margin: 20px auto;
	background-color: #23272A;
}

.button {
	border-radius: 10px;
	width: 100px;
    background-color: #7289DA; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
	position: absolute;
	left: 0;
	right: 15%;
	margin: 0px auto;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #23272A;
    color: white;
}

.button2 {
	border-radius: 10px;
	width: 100px;
    background-color: #7289DA; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
	position: absolute;
	left: 15%;
	right: 0;
	margin: 0px auto;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover {
    background-color: #23272A;
    color: white;
}

.aue{

}

.hie{
	display: flex;
	align-items: center;
	background-color: #2C2F33;
	width: 1100px;
	height: 70px;
	margin: 20px auto;
}

@media (max-width: 1250px)  {
	.faq{
		width: 1100px;
		height: 70px;
	}
	.container{
		width: 1100px;
		height: 70px;
	}

	.container2{
		width: 1100px;
		height: 70px;
	}
}

@media (max-width: 1140px)  {
	.faq{
		width: 1000px;
		height: 70px;
	}

	.container{
		width: 1000px;
		height: 70px;
	}

	.container2{
		width: 1000px;
		height: 70px;
	}
}

@media (max-width: 1050px)  {
	.faq{
		width: 900px;
		height: 70px;
	}
	.container{
		width: 900px;
		height: 70px;
	}

	.container2{
		width: 900px;
		height: 70px;
	}
}

@media (max-width: 950px)  {
	.faq{
		width: 800px;
		height: 70px;
	}
	.container{
		width: 800px;
		height: 70px;
	}

	.container2{
		width: 800px;
		height: 70px;
	}
}

@media (max-width: 900px)  {
	.faq{
		width: 700px;
		height: 70px;
	}
	.container{
		width: 700px;
		height: 70px;
	}

	.container2{
		width: 700px;
		height: 70px;
	}
}

@media (max-width: 850px)  {
	.faq{
		width: 400px;
		height: 100px;
	}
	.container{
		width: 400px;
		height: 200px;

	}
	.container2{
		width: 400px;
		height: 100px;

	}
}

@media (max-width: 500px)  {
	.faq{
		width: 420px;
		height: 100px;
	}
	.container{
		width: 420px;
		height: 200px;
	}

	.container2{
		width: 420px;
		height: 100px;
	}
}



@media only screen and (max-width: 450px){
	
	li a{
		font-size: 50px;
	}


	.cont{
		font-size: 50px;
	}
	.home{
		width: 1100px;
		top:100%;
		padding-bottom: 10%;
	}
	a{
		font-size: 100px;
	}
	h1{
		font-size: 80px;
	}
	
	.button{

		font-size: 50px;
		width: 280px;
		right: 35%;
	}
	.button2{
		font-size: 50px;
		width: 280px;
		left: 35%;
	}	

	p{
		font-size: 50px;
		text-align: center;
	}
	.active{
		font-size: 50px;
	}
	.fff2{
		font-size: 50px;
		text-align: center;
	}
	.container{
		display: flex;
		align-items: center;
		width: 800px;
		height: 300px;
		margin: 80px 35px;
		padding-left: 40px;
		margin-left: 120px

	}
	.container2{

		display: flex;
		align-items: center;
		justify-content: center;
		width: 840px;
		height: 300px;
		margin: 20px 0px ;

		margin-top: 40%;
		margin-left: 120px;
		
	}
	.faq{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 840px;
		height: 300px;
		margin: 20px 0px;
		margin-left: 120px;

		position: absolute;
		left: 0;
		right: 0;
		top:30%;
		}
}

